root = true

[*.cs]
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1805.severity = warning
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1303.severity = suggestion
